* {
  font-family: Georgia, Times, serif;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.space {
  height: 5em;
}
#navbar {
  height: 3em;
  background-color: #a2c6cf;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#navbar ul.sections {
  color: white;
}
#navbar ul.sections li {
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
  text-decoration: none;
  color: white;
}
#navbar ul.sections li a:link {
  color: white;
  text-decoration: none;
}
#navbar ul.sections li a:hover {
  color: white;
  text-decoration: none;
  background-color: #5f9dac;
}
#navbar ul.sections li a:visited {
  color: white;
}
#name-section {
  margin-top: 5em;
  margin-bottom: -5em;
}
#name-section h1.name {
  font-size: 4.75em;
  font-family: Big Caslon, Georgia, serif;
  font-weight: bold;
  margin-bottom: -0.5em;
}
#name-section h3.title {
  font-size: 1.55em;
}
#constrain {
  margin-left: 10em;
  margin-right: 10em;
}
#constrain .jump {
  padding-top: -3em;
  height: 3em;
}
#constrain .subheading {
  margin-top: 1em;
  border-top: 0.08em solid #a2c6cf;
  border-bottom: 0.08em solid #a2c6cf;
  background-color: white;
  clear: both;
}
#constrain .container {
  margin-left: 3em;
  margin-right: 3em;
}
#constrain .container p.para-left {
  float: left;
  width: 48%;
}
#constrain .container p.para-right {
  float: right;
  width: 48%;
}
#constrain .container h2.project-title {
  margin-bottom: -0.5em;
  font-weight: bold;
}
#constrain .container p.project-descrip {
  margin-bottom: 1em;
}
#constrain .container .date {
  color: #a2c6cf;
  font-style: italic;
  margin-left: 2.5em;
  margin-bottom: -0.6em;
}
#constrain .container .experience-description {
  margin-left: 2.5em;
  margin-bottom: 1.5em;
}
#constrain .container .form-style {
  margin-left: 5em;
  margin-right: 5em;
  width: 20em;
  background-color: #a2c6cf;
  display: block;
  padding: 2em 4em 2em 5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#constrain .container .form-style label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  text-align: left;
  display: block;
  margin-bottom: 0.25em;
}
#constrain .container .form-style input {
  font-style: italic;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  width: 15em;
  margin-bottom: 1em;
  font-size: 1.25em;
  text-align: left;
}
#constrain .container .form-style #message {
  height: 10em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 15em;
  margin-bottom: 1em;
}
#constrain .container .form-style #submit {
  color: #a2c6cf;
  background-color: white;
  font-style: normal;
  font-weight: bold;
  width: 12.75em;
  font-size: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#footer {
  color: #a2c6cf;
  margin-top: 1em;
  margin-right: 10em;
  margin-left: 10em;
  border-top: 0.15em solid #a2c6cf;
}
#footer h4.links {
  margin-bottom: -1em;
  text-align: center;
}
#footer h4.links a:link {
  text-decoration: none;
  color: #a2c6cf;
}
#footer h4.links a:visited {
  color: #a2c6cf;
}
#footer h4.links a:hover {
  color: darkred;
}
#footer h6.copyright {
  text-align: center;
  color: #a2c6cf;
}
